<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device.width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{encore_entry_link_tags('app')}}{% endblock %}
        <link rel="icon" href="http://localhost/hackathon2/public/assets/img/iconeballon.png">
        <link rel="stylesheet" href="{{ asset('assets/style/style.css') }}">
    </head>
    <body>
    {% include 'commons/_header.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{{encore_entry_link_tags('app')}}{% endblock %}
    </body>
</html>
