<footer>
    <div>
        <ul class="mention">
            <li>CyrilAguirre™</li>
            <li>Mentions légales</li>
        </ul>
        <ul class="social">
            <a href=""><img src="{{ asset('assets/img/iconmonstr-facebook-4-240.png') }}" alt="logo facebook"></a>
            <a href=""><img src="{{ asset('assets/img/iconmonstr-github-1.svg') }}" alt="logo github"></a>
        </ul>
    </div>
</footer>